@use "../utils" as *;

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .main {
    width: 80vw;
    height: 100vh;
    background-color: get-color("background");
    border: 1px solid transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    &__content {
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      &__heading {
        font-size: 2.2rem;
        line-height: 1rem;
        font-style: italic;
      }
      &__description {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 0.4rem;
      }
      &__button {
        width: fit-content;
        padding: 7px 20px;
        border-radius: 7px;
        border: 0px solid transparent;
        font-size: 1.1rem;
        background-color: get-color("primary");
        cursor: pointer;
        transition-duration: 200ms;
        &:hover {
          transform: scale(1.01);
          background-color: darken(
            $color: get-color-value("secondary"),
            $amount: 5
          );
        }
        &:active {
          transform: scale(0.99);
        }
      }
    }
  }
  &__background {
    width: 100vw;
    height: 200vh;
    position: absolute;
    transform: rotate(30deg);
    overflow: hidden;
    right: -40%;
    display: flex;
    justify-content: start;
    align-items: center;
    &__interview {
      width: 75vh;
      height: 75vh;
      transform: rotate(-30deg);
      margin-left: 8vw;
      margin-bottom: 30vh;
    }
    &__image {
      width: 150vw;
      height: 200vh;
      //   width: 100%;
      //   height: 100%;
      background-image: url("../../assets/images/background.png");
      background-repeat: no-repeat;
      position: absolute;
      // right: -230px;
      right: 25%;
      top: -15%;
      background-size: 100% 100%;
    }
  }
}
