@use "../utils" as *;

.register {
  width: 100vw;
  height: 100vh;
  background-color: get-color("background");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__navigate_home {
    width: 100%;
    padding: 20px 0px 10px 0px;
    &__button {
      width: fit-content;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-right: 20px;
      border-radius: 0px 30px 30px 0px;
      transition-duration: 200ms;
      &:hover {
        background-color: white;
      }
      &__icon {
        width: 30px;
        height: 30px;
        transition-duration: 200ms;
      }
      h3 {
        font-weight: bold;
        font-style: italic;
        transition-duration: 200ms;
        font-size: 1rem;
        margin: 0px;
      }
    }
  }
  &__form {
    width: 95vw;
    margin-top: 1vh;
    height: calc(90vh - 30px);
    border: 2px solid
      lighten($color: get-color-value("background3"), $amount: 10);
    background-color: get-color("background2");
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    $column-width: 22%;
    @mixin group_form_field_container {
      width: $column-width;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5vw;
    }
    &__title {
      font-size: 1.2rem;
      font-style: italic;
    }
    &__first_row {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 2%;
      &__upload_picture {
        width: $column-width;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &__avatar_container {
          border: 2px solid white;
          display: flex;
          width: fit-content;
          height: fit-content;
          border-radius: 50%;
          &__icon {
            width: 6vw;
            height: 6vw;
            padding: 0.8vw;
          }
        }
        label {
          background-color: get-color("primary");
          font-size: 0.8rem;
          padding: 0.3rem 0.6rem;
          border-radius: 0.2rem;
          cursor: pointer;
          transition-duration: 200ms;
          &:hover {
            background-color: get-color("secondary");
          }
        }
      }
      &__field_group {
        @include group_form_field_container;
        label {
          font-size: 0.7rem;
          color: darken($color: #ffffff, $amount: 20);
        }
        &__fields {
          @include input_fields_container;
          input[data-field="input"] {
            @include input_field;
          }
        }
      }
    }
    &__second_row {
      // border: 1px solid red;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 2%;
      &__column {
        // border: 1px solid green;
        width: $column-width;
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        &__field {
          padding: 0.3vw 1.5vw;
          border: 2px solid
            lighten($color: get-color-value("background3"), $amount: 10);
          border-radius: 0.6vw;
          background-color: get-color("background3");
          input[data-field="input"] {
            @include input_field;
          }
        }
        &__gender {
          position: relative;
          @mixin label {
            font-size: 0.7rem;
            color: darken($color: #ffffff, $amount: 20);
          }
          label[data-field="gender"] {
            @include label;
            position: absolute;
            top: -1rem;
          }
          @mixin field_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            border: 2px solid
              lighten($color: get-color-value("background3"), $amount: 10);
            border-radius: 0.6vw;
            width: 50%;
            padding: 0.7vw 1.5vw;
            box-sizing: border-box;
            background-color: get-color("background3");
          }
          &__fields {
            @include field_container();
            &__radio {
              width: 100%;
              border: 1px solid white;
              padding: 0.2rem 0.3rem;
              border-radius: 7px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 0.1rem;
              input {
                width: 0.5rem;
                height: 0.5rem;
              }
              label {
                @include label;
              }
            }
          }
        }
      }
    }
    input[type="submit"] {
      background-color: get-color("primary");
      padding: 8px 30px;
      border-width: 0px;
      border-radius: 10px;
      margin-bottom: 3vh;
      cursor: pointer;
      transition-duration: 200ms;
      &:hover {
        background-color: lighten(
          $color: get-color-value("primary"),
          $amount: 5
        );
      }
    }
  }
}
