@use "../utils" as *;

.signin {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &__main {
    width: 500px;
    height: 95vh;
    background-color: get-color("background");
    border-radius: 0px 20px 20px 0px;
    position: relative;
    top: 2.5vh;
    @include media("2xl") {
      width: 700px;
    }
    &__navigate_home {
      width: 100%;
      padding: 20px 0px 10px 0px;
      &__button {
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 20px;
        border-radius: 0px 30px 30px 0px;
        transition-duration: 200ms;
        &:hover {
          background-color: white;
        }
        &__icon {
          width: 30px;
          height: 30px;
          transition-duration: 200ms;
        }
        h3 {
          font-weight: bold;
          font-style: italic;
          transition-duration: 200ms;
          font-size: 1rem;
          margin: 0px;
        }
      }
    }
    h2 {
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-style: italic;
      font-size: 1.5rem;
    }
    &__form {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10%;
      &__inputs {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
        &__fields {
          width: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          input[type="text"],
          input[type="password"] {
            width: 100%;
            background-color: transparent;
            outline: none;
            border-width: 0px 0px 2px 0px;
            border-color: white;
            &::placeholder {
              color: white;
              font-size: 0.8rem;
            }
            &:read-write {
              font-size: 0.8rem;
            }
          }
          span[data-type="validation-error"] {
            align-self: flex-start;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            gap: 10px;
            $validation_error_color: #f1599f;
            .validation_icon {
              width: 15px;
              height: 15px;
              color: $validation_error_color;
            }
            p {
              font-size: 0.6rem;
              margin: 0px;
              color: $validation_error_color;
            }
          }
        }
      }
      input[type="submit"] {
        background-color: get-color("primary");
        padding: 8px 30px;
        border-width: 0px;
        border-radius: 10px;
        margin-top: 8%;
        cursor: pointer;
        transition-duration: 200ms;
        &:hover {
          background-color: lighten(
            $color: get-color-value("primary"),
            $amount: 5
          );
        }
      }
    }
  }
  &__background {
    width: 150vw;
    height: 200vh;
    position: absolute;
    right: -10%;
    bottom: -35%;
    transform: rotate(30deg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    &__image {
      width: 100%;
      height: 100%;
      background-image: url("../../assets/images/background.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
    }
    &__welcome {
      width: 75vh;
      height: 75vh;
      position: relative;
      transform: rotate(-30deg);
      right: 12%;
      top: 18%;
    }
  }
}
