$dark-version-bg-color: #051139 !default;
$dark-version-sidenav-bg-color: #111c44 !default;
$dark-version-card-bg-color: #111c44 !default;

.custom-base {
  visibility: hidden;
}

.custom-dark {
  background-color: $dark-version-sidenav-bg-color !important;
}
