@use "./functions" as *;

@mixin input_field {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-width: 0px 0px 2px 0px;
  border-color: darken($color: #ffffff, $amount: 20);
  transition-duration: 200ms;
  &::placeholder {
    color: darken($color: #ffffff, $amount: 20);
    font-size: 0.7rem;
  }
  &:read-write {
    font-size: 0.7rem;
  }
  &:focus {
    &::placeholder {
      color: lighten($color: get-color-value("primary"), $amount: 60);
    }
    border-width: 0px 0px 3px 0px;
    transform: scale(1.02);
    border-color: get-color("primary");
  }
}
@mixin input_fields_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
  border: 2px solid lighten($color: get-color-value("background3"), $amount: 10);
  border-radius: 0.6vw;
  width: 100%;
  padding: 1.5vw;
  box-sizing: border-box;
  background-color: get-color("background3");
}
