#sidenav-collapse-main {
  height: 80%;
}

#sidenav-main {
  background-color: #111c44 !important;
}

.custom-base {
  visibility: hidden;
}

.custom-dark {
  background-color: #111c44 !important;
}

.custom-bg-dark {
  background-color: #051139 !important;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select {
  color: white !important;
}

textarea {
  background-color: #111c44;
  color: white;
  border-radius: 10px;
  padding: 10px;
  max-height: 200px;
  resize: none;
}

input[type=number] {
  background-color: #111c44;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px 8px;
  width: fit-content;
}

select option {
  background-color: #111c44;
}

.help {
  color: white !important;
}

h3 {
  background-color: #111c44 !important;
  color: white !important;
}

#id_groups_from,
#id_groups_to,
#id_user_permissions_from,
#id_user_permissions_to,
#id_groups_filter,
#id_groups_filter_selected,
#id_user_permissions_filter,
#id_user_permissions_filter_selected {
  background-color: #111c44 !important;
}

#id_groups_filter,
#id_groups_filter_selected {
  padding: 5px 0px;
}

#id_groups_filter_selected,
#id_user_permissions_filter_selected {
  border-bottom: 1px solid white;
  padding: 0px 10px;
}

#id_groups_filter label,
#id_user_permissions_filter label {
  visibility: hidden;
}

#id_groups_input,
#id_user_permissions_input {
  margin: 0px;
}

#id_groups_selected_input,
#id_user_permissions_selected_input {
  margin-bottom: 10px;
}

.selector-available h2 {
  background-color: #5e72e4 !important;
}

.selector-chosen h2 {
  background-color: #fb6340 !important;
}

#id_groups_filter,
#id_groups_filter_selected {
  border-width: 1px;
  border-color: white;
}

.filter_button {
  background-color: #5e72e4;
  color: white;
  border: 0px;
  font-family: var(--bs-font-sans-serif);
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 10px;
}

.filter_numeric_form input[type=number] {
  width: 100%;
}

.filter_title {
  font-size: 20px;
}

.table-field-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-field-button {
  background-color: #5e72e4;
  color: white;
  border: 0px;
  font-family: var(--bs-font-sans-serif);
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 10px;
}

.cv-image-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-image-container img {
  width: 70vw;
  cursor: pointer;
}
